*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 130px;
    height: 170px;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
}

.container{
    position: relative;
    width: 130px;
    height: 165px;
    background: #fff;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.weather-box{
    width:130px;
    height:85px;
    text-align: center;
}

.weather-box img{
    width: 39px;
    height: 39px;
}

.weather-box .temperature{
    position: relative;
    width:152px;
    height:27px;
    color: #06283D;
    font-size: 22px;
    font-weight: 800;
    margin-left: -22px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    width:130px;
    height:19px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width:130px;
    height:70px;
    justify-content: space-between;
}

.weather-details .humidity, .weather-details .wind{
    width:60px;
    height:70px;
    float:left;
    align-items: center;
}

.weather-details .humidity{
    padding-left: 5px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 2px;
}

.weather-details span{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
    margin-left:10px;
}

.weather-details p{
    color: #06283D;
    font-size: 12px;
    font-weight: 500;
    margin-left:10px;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}