body{
    background-color:#e6ffff;
    height: 150px;
    width:160px;
    margin: 0 0 0 0px;
}

#notepad-area{
    background-color:#e6ffff;
    font-family: 'Monospace, Monaco';
    font-size:19px;
    width:160px;
    height:150px;
    min-width:160px;
    min-height:150px;

    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.larger-pad{
    width:200px!important;
    height:190px!important;
}

.smaller-pad{
    width:160px;
    height:150px;
}